@import url(reset.css);

section {
  height: 500px;
  border: 1px solid red;
}

.inner {
  width: 100px;
  height: 100px;
  background-color: green;
}

.static .inner{
  position: static;
  margin: 20px 10px;
}

.relative .inner {
  position: relative;
  top: 10px;
  right:10px;
}

.absolute {
  position: relative;
}
.absolute .inner {
  position: absolute;
  bottom: 0;
  right:10px;
}

.fixed .inner {
  position: fixed;
  bottom: 0px;
  right: 100px;
}
/* position: inherit;*/
